<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="robots" content="noindex"><meta name="googlebot" content="noindex"><meta name="googlebot" content="noarchive"><meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=2.0 user-scalable = yes"><title>
	압력 값 조회
</title>

     	<!--[if lt IE 9]>
	<script src="/include/js/IE9.js"></script>
	<![endif]--> 
	
	<link href="css/default_ds.css" rel="stylesheet" type="text/css">
	

  
     <script type="text/javascript">
     
     var oHTTP = null;

if(window.XMLHttpRequest){
    oHTTP = new XMLHttpRequest();
}else{
    oHTTP = new ActiveXObject("Msxml2.XMLHTTP.3.0");
}

var oXML = new ActiveXObject("Msxml2.DOMDocument.3.0");
oXML.async = false;


function getXml(url)
{			
	var BoolData;		
	oHTTP.open("POST", url, false);		
	oHTTP.send(oXML);
		
	BoolData = oHTTP.responseText;

	return BoolData;
}	

     
     </script>
</head>
<body>
    <form name="aspnetForm" method="post" action="rview.aspx?rnum=678&amp;rname=%ud06c%ub85c%uc2a4%ud54f+13%3a00-14%3a00&amp;prnum=22937&amp;tnum=6344797" id="aspnetForm">


<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="DA48A46A">
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWHAL9w+L4BQL6ptGzCQKHqMVdAtmozO8EAtmosIsLAtmopKYCApOotb4CAoPH09MOAoPH19MOAoPH69MOAoPH79MOAoPH49MOAoPH59MOAoPH+9MOAoPHv9AOAoPHs9AOApzH39MOApzH09MOApzH19MOAt6Lgi0CzuSowwwCku+AvQoC9beEiQ4CztjqowQCq+LI1AkChIuvyQ8C4ZyN4gUC8+uq/QnW0DxagpSp9UxIkFNlDGdNnBuW+A==">
</div>
    
   
    
    
    
    
    
    
    <table border="0" width="100%" height="100%">
    <tbody><tr><td valign="top">
    
    
    
    
    
    
    
    
      <div id="content" class="page-content">
      <!---page-content--->  
	<div id="headerWrap"> 
		<div id="header"> 
			<div class="btn_back" style="z-index:9999"><a id="ctl00_href_lecture" href="/myinfo/pass.aspx"><img src="image/btn_config.png" alt="이전"></a></div>
			<div class="logo" style="width:100%" align="center"><a id="ctl00_href_home" href="2.html">LIS</a></div> 
			<div class="btn_logout" style="z-index:9999">
			<a id="ctl00_btn_logout" href="javascript:__doPostBack('ctl00$btn_logout','')"><img src="image/btn_logout.png" alt="이전"></a>
			
			</div> 
		</div> 
	</div>
	
		
		

	    <table width="100%" height="35"><tbody><tr>
     <td id="ctl00_td_ticket" width="25%" align="center" bgcolor="#41c365"><a id="ctl00_href_ticket" href="2.html"><font color="white">구조물 목록</font></a></td>
     <td id="ctl00_td_reserve" width="25%" align="center" bgcolor="white"><a id="ctl00_href_reserve" href="3.html"><b>압력값 조회</b></a></td>
        
    </tr></tbody></table>
		
	 

    
	

    
        

<br>


    

<table cellpadding="0" cellspacing="0" border="0" height="40" width="100%"><tbody><tr><td>
<select name="ctl00$ContentPlaceHolder1$drop_rTicket" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$drop_rTicket\',\'\')', 0)" id="ctl00_ContentPlaceHolder1_drop_rTicket" style="font-size:Large;height:28px;width:100%;">
	<option value="0">-- 정렬 순서 --</option>
	<option selected="selected" value="678">실시간 압력 센서 값</option>
	<option value="675">풀릴 확률 높은 순</option>
	<option value="674">경고 센서</option>
	<option value="673">풀린 볼트</option>
	<option value="672">크로스핏 20:00-21:00</option>
	<option value="671">크로스핏 21:00-22:00</option>

</select>

</td></tr>
<tr><td>

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody><tr><td height="3"></td></tr>
        <tr>
        <td></td>
        <td align="right" class="font15_black">총 센서 : <b><span id="ctl00_ContentPlaceHolder1_lbl_rLimitPerson"><b>5</b>개</span></b>&nbsp;</td>
        </tr>
        <tr><td height="3"></td></tr>
    </tbody></table>


</td></tr>
<tr><td height="20"></td></tr>
</tbody></table>
   
<table width=100% height=100% border=0><tr><td style=padding-left:40;padding-bottom:0>
    <table width=300 height=300 border=2>
        <tr>
            <td>센서</td>     <td>값</td>
        </tr>
        <tr>
            <td>센서 1</td>  <td>숫자</td>
        </tr>
        <tr>
            <td>센서 2</td>  <td>숫자</td>
        </tr>
    </table>
    </td></tr></table>       
            

</td></tr></tbody></table>

  
      
      </div>
      
      </td>     
      </tr>
      <tr><td height="20">
      
      <div id="footerwrap"> 			
		<div class="copy">
		<br>
			<img src="images/LIS.png">
			<p>경기도 안산시 상록구 사3동 한양대학로 55  T. 031-484-0970 <br>Copyright©2018 IT-Friends. All right reserved.</p>
			<br><br>
			<div class="icon_btn" style="display:none">
			<!--
			<a href="/config/catemake.aspx">코치HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:odap_open1('a')">전체오답노트100</a>
			&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/config/catemake.aspx">비밀번호변경</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			<a id="ctl00_btn_logout_bottom" href="javascript:__doPostBack('ctl00$btn_logout_bottom','')">로그아웃</a>			
			
				<a href="/04/dmap.aspx"><img src="/image/icon_map.png" /></a>
				<a href="/04/dtime.aspx"><img src="/image/icon_dtime.png" /></a>
			    <img src="/image/icon_pc.png" />
				<a href="#"><img src="/image/icon_top.png" /></a>-->
			</div>
		</div>
	  </div><!--//footerwrap-->  
	  
	  
	  
      </td></tr>
      </tbody></table>
  
    </form>


</body></html>